.custom-large-modal .modal-dialog {
  max-width: 90%;
  height: auto; 
  }

.threshold-grid {
  height: 25vh;
  width: 100%; 
  }  
  
.edit-threshold-container {
  height: 45vh;
  background-color: rgba(31, 158, 35, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  }

.center {
  display: flex;
  justify-content: space-between; /* Ensures maximum space between children */
  align-items: center;
  width: 100%;
}

.modal-header {
  background-color: rgba(31, 158, 35, 1);
  color: white;
  border-bottom: 1px solid #3f5068;
}
.modal-header h1 {
  font-size: 30px;
  font-weight: 300;
}
.modal-header h2 {
  font-size: 24px;
  font-weight: 300;
}

.value-labels span {
  flex: 1;
  text-align: center;
}

.value-labels .left {
  text-align: left;
}

.value-labels .right {
  text-align: right;
}

mat-form-field {
  margin-bottom: -30px;
}

mat-expansion-panel {
  background-color: rgba(31, 158, 35, 0.1);
}

.slider-label {
  min-width: 35px;
  text-align: center;
}

.mat-slider {
  flex-grow: 1;
  margin: 0 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.grid-label {
  grid-column: 1;
}

.slider-container {
  display: flex;
  align-items: center;
  grid-column: 2;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 2;
}

.form-group {
  margin-left: 40px;
  width: 400px;
}

.error-text {
  margin-left: auto;
}

button {
  margin-left: auto;
}

.remove-icon{
  transform: scale(.65);
  float: right;
  margin-top: -20px;
  margin-bottom: -20px;
}

.no-pointer {
  pointer-events: none; /* Disables mouse interactions */
}