.filter-bar {
  background-color: rgba(20, 100, 20, 0.5);
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 53px;
  border-radius: 8px;
  position: relative;
}

/* rename to heading bar */

.filter-bar h1 {
  color: white;
  font-size: 30px;
  font-weight: 350;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.main-container {
  margin-top: 20px;
  padding: 0 2vw;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: x-large;
  font-weight: 350;
}

.card {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(31, 158, 35, 1);
  color: white;
  border-bottom: 1px solid #3f5068;
}

.card-body {
  padding: 15px;
}

.soil-dashboard-container {
  margin-bottom: 20px;
}

.soil-dashboard-body {
  margin-top: 20px;
}

.map-container, .weather-container {
  width: 47vw;
  float: left;
  margin-right: 2%;
  box-sizing: border-box;
  height: 51.5vh;
}

.condition-card{
  border: 1px solid rgba(31, 158, 35, 0.3);
  padding-bottom: 5px;
}

.condition-card:hover, .weather-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.weather-container {
  float: right;
  margin-right: 0;
}

.weather-container .card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3 , 1fr);
  gap: 20px;
  padding: 20px;
}

.weather-card {
  background-color: #ffffff;
  border: 1px solid rgba(67, 148, 253, 0.3);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.weather-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.weather-card p {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.col-md-custom {
  width: 14.285%;
  padding: 5px;
}

.col-md-custom:first-child {
  padding-left: 20px;
}

.col-md-custom:last-child {
  padding-right: 20px;
}

.image {
  max-height: 100px;
  width: auto;
  display: block;
  margin: 10px auto;
}

ngx-gauge {
  display: block;
  margin: 0 auto;
  width: 90%;
}

ngx-gauge .label {
  font-size: 10px;
}
