.authenticationFrame {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

.authenticationFrame .errorText {
    color: #d9534f;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

.center {
    text-align: center;
    font-weight: 350;
}

h1 {
    color: rgba(20, 100, 20, 1);
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: 350;
}

p { font-size: 40px; }

.authenticationFrame .btn-primary {
    width: 100%;
    padding: 12px 0;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.authenticationFrame .mat-raised-button {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.authenticationFrame .form-group {
    margin-bottom: 15px;
}

.authenticationFrame .modal-footer {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
}

::ng-deep .mat-mdc-tab-group .mat-mdc-tab .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-group .mat-mdc-tab-link .mdc-tab__text-label {
    color: rgb(90, 90, 90);
}