<div class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #1f9e23;">
  <span class="navbar-brand" style="margin-left: 15px;">Agri-Insight Monitoring Project</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/data">Charts & Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forecast">Forecast</a>
    </li> -->
  </ul>
  <div class="form-inline ms-auto">
    <ng-container *ngIf="sessionStorage.getItem('token'); else loggedOut">
      <button mat-raised-button color="warn" style="margin-right: 10px;">
        Log Out
      </button>
    </ng-container>
    <ng-template #loggedOut>
      <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="onOpenAuthenticationModal()">
        Register
      </button>
    </ng-template>
  </div>
</div>