.error { background-color: #fff0f0; }

.errorText { color: red; }

.navbar {
    background-color:rgba(20, 100, 20, 1);
    height: 4.5vh;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-title {
    margin: 0;
    color: #333;
  }
  
  .close {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #6c757d;
  }
  
  .user-info p {
    margin: 0.5rem 0;
  }
  
  .form-group {
    margin-top: 1rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  
  .invalid-feedback {
    color: #dc3545;;
    display: none;
  }
  
  .form-control.ng-invalid.ng-touched + .invalid-feedback {
    display: block;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Align items vertically */
    padding: 1rem;
    border-top: 1px solid #dee2e6;
  }
  
  
  .error-message {
    color: #dc3545; /* Error color */
    font-size: 0.875rem; /* Smaller font size for error message */
    flex: 1; /* Allow the message to take up remaining space */
    text-align: center; /* Center the error message text */
    margin: 0 1rem; /* Add some margin on the left and right */
  }
  
