.error { background-color: #fff0f0; }

.errorText { color: red; }

.navbar {
    background-color:rgba(20, 100, 20, 1);
    height: 4.5vh;
}

.nav-item .nav-link {
    color: #bbbaba;
    font-family: 'Roboto', sans-serif;
}

.nav-item .nav-link.active {
    color: #ffffff;
}

.nav-item .nav-link:hover {
    color: #ffffff;
}