<div class="main-container">
    <ng-container *ngFor="let currentMeasurement of currentMeasurements | async">
        <div class="card soil-dashboard-container">
            <div class="card-header header-content">
                <h1><strong>Soil Measurement Dashboard</strong></h1>
                <span><strong>Last updated:</strong> {{ currentMeasurement.Body.datetime | date: 'medium' }}</span>
            </div>
            <div class="row soil-dashboard-body">
                <div class="col-md-custom mb-4" *ngFor="let gauge of gauges">
                    <div class="card condition-card ">
                        <img [src]="'./../assets/images/conditions/' + gauge.key + '.png'" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="currentMeasurement.Body[gauge.key]" [label]="gauge.name" [append]="gauge.unit"
                            [max]="gauge.max" [thresholds]="gaugeSettings[gauge.key].thresholds"
                            [markers]="gaugeSettings[gauge.key].markers">
                        </ngx-gauge>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="isLocationLoaded">
        <div class="card map-container">
            <div class="card-header">
                <h3><strong>{{deviceID}} Map Location</strong></h3>
                <button *ngIf="positionsAreDifferent()" mat-raised-button color="accent"
                    type="submit" (click)="onSubmitUpdateLocation()">Save New Location</button>
            </div>
            <div class="card-body">
                <google-map height="600px" width="100%" [center]="mapCenter" [zoom]="zoom"
                    (mapClick)="onMapClick($event)">
                    <map-marker [position]="markerPosition" [title]="currentPosition"></map-marker>
                </google-map>
            </div>
        </div>
    </div>
    <div *ngIf="isWeatherLoaded">
        <div class="card weather-container">
            <div class="card-header">
                <h3><strong>Current Weather at {{currentWeather.location.name}}, {{currentWeather.location.country}}</strong></h3>
                <span><strong>Last updated:</strong> {{ currentWeather.current.last_updated | date: 'medium' }}</span>
            </div>
            <div class="card-body">
                <div class="weather-info">
                    <img src='{{currentWeather.current.condition.icon}}'>
                    <p>Condition: {{currentWeather.current.condition.text}}</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/thermometer.png'>
                    <p>Temp: {{currentWeather.current.temp_c}}°C</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/dew-point.png'>
                    <p>Humidity: {{currentWeather.current.humidity}}%</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/uv.png'>
                    <p>UV Index: {{currentWeather.current.uv}}</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/wet.png'>
                    <p>Precip: {{currentWeather.current.precip_mm}} mm</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/wind.png'>
                    <p>Wind: {{currentWeather.current.wind_mph}} mph ({{currentWeather.current.wind_dir}})</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/pressure.png'>
                    <p>Pressure: {{currentWeather.current.pressure_mb}} millibars</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/sunrise.png'>
                    <p>Sunrise: {{currentAstro.astro.sunrise}}</p>
                </div>
                <div class="weather-info">
                    <img src='./../assets/images/weather/sunset.png'>
                    <p>Sunset: {{currentAstro.astro.sunset}}</p>
                </div>
            </div>
        </div>
    </div>
</div>