<div class="container" style="margin-top: 100px;">
    <ng-container *ngFor="let current_measurement of current_measurements | async">
        <div class="main-content">
            <div class="team-content">
                <span>
                    <strong>User ID:</strong> {{ current_measurement.Body.userID }}
                </span>
                <h1 style="margin-top: 10px;"><strong>Soil Measurement Dashboard</strong></h1>
                <span>
                    <strong>Last updated:</strong> {{ current_measurement.Body.datetime | date: 'medium' }}
                </span>
            </div>
            <div class="row">
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/temperature.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.temperature" label="Temperature" append="°C" [max]="60"
                            [thresholds]="temperatureThresholds" [markers]="temperatureMarkers">
                        </ngx-gauge>
                    </div>
                </div>
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/moisture.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.moisture" label="Moisture" append="%" [max]="100"
                            [thresholds]="moistureThresholds" [markers]="moistureMarkers">
                        </ngx-gauge>
                    </div>
                </div>
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/salinity.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.ec" label="Salinity" append="µS/cm" [max]="1200"
                            [thresholds]="salinityThresholds" [markers]="salinityMarkers">
                        </ngx-gauge>
                    </div>
                </div>
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/ph.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.ph" label="pH" append="PH" [max]="14"
                            [thresholds]="phThresholds" [markers]="phMarkers">
                        </ngx-gauge>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/nitrogen.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.nitrogen" label="Nitrogen" append="mg/kg" [max]="100"
                            [thresholds]="nitrogenThresholds" [markers]="nitrogenMarkers">
                        </ngx-gauge>
                    </div>
                </div>
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/phosphorus.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.phosphorus" label="Phosphorus" append="mg/kg"
                            [max]="300" [thresholds]="phosphorusThresholds" [markers]="phosphorusMarkers">
                        </ngx-gauge>
                    </div>
                </div>
                <div class="col-md-2 mb-4 character-card">
                    <div class="card" style="cursor: pointer">
                        <img src="./../assets/images/conditions/potassium.png" class="image">
                        <ngx-gauge class="center" [size]="200" type="arch" [thick]="15"
                            [value]="current_measurement?.Body?.potassium" label="Potassium" append="mg/kg" [max]="500"
                            [thresholds]="potassiumThresholds" [markers]="potassiumMarkers">
                        </ngx-gauge>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="isLocationLoaded">
        <google-map height="500px" width="100%" [center]="mapCenter" [zoom]="zoom" (mapClick)="onMapClick($event)">
            <map-marker [position]="markerPosition" [title]="currentPosition">
            </map-marker>
        </google-map>
    </div>
    <button *ngIf="positionsAreDifferent()" mat-raised-button color="accent" style="margin-left: 190px;" type="submit"
        (click)="onSubmitUpdateLocation()">
        Save Changes
    </button>
</div>