@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('assets/images/background/background.png'); background-position: bottom; background-repeat: repeat-x; }

.reading-block,
.reading-label {
    overflow: visible !important;
    text-overflow: clip !important;
    white-space: normal !important;
}