@import '@angular/material/theming';

$primary: mat-palette($mat-green);
$accent: mat-palette($mat-light-green, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);

.custom-large-modal .modal-dialog {
  max-width: 80% !important;
  min-width: 800px !important;
}

@include mat-core();

@include angular-material-theme($theme);
