<div class="modal-header">
  <h1>User Profile</h1>
</div>
<form [formGroup]="editForm" (ngSubmit)="onSubmitEditProfile()">
  <div class="modal-body">
    <div class="user-info">
      <p><strong>Username:</strong> {{decodedToken.username}}</p>
      <p><strong>E-mail:</strong> {{decodedToken.email}}</p>
    </div>
    <hr>
    <div class="form-group">
      <label for="email">Input E-mail Address</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email"
       (input)="updateEmailValidity()" [ngClass]="{ 'is-invalid': isInvalid('email') }"/>
      <div *ngIf="isInvalid('email')" class="invalid-feedback">
        Please enter a valid email address to update.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Enter Password to Update Profile</label>
      <input type="password" id="password" class="form-control" formControlName="password"
        (input)="updatePasswordValidity()" [ngClass]="{ 'is-invalid': isInvalid('password') }" />
      <div *ngIf="isInvalid('password')" class="invalid-feedback">
        Please provide your password.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="accent" type="submit" [disabled]="editForm.invalid">
      Update Details
    </button>
    <small *ngIf="isIncomplete() || errorMessage" class="form-text"
      [ngClass]="{'hint-text': !errorMessage, 'error-message': errorMessage}">
      {{ errorMessage || 'Valid Password Must be Entered to Update Profile' }}
    </small>
    <button mat-raised-button color="warn" type="button" (click)="onSubmitDeleteProfile()">
      Delete Profile
    </button>
  </div>
</form>
<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h2><b>Delete Confirmation</b></h2>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete your user profile?</p>
  </div>
  <div class="modal-footer">
    <div class="button-container">
      <button type="button" mat-raised-button color="accent" (click)="modal.dismiss('cancel')">Cancel</button>
      <button type="button" mat-raised-button color="warn" (click)="modal.close('delete')">Confirm Delete Profile</button>
    </div>
  </div>
</ng-template>