<div style="padding-top: 150px;">
  <p class="center">Welcome to the</p>
  <h1 class="center">Agri-Insight Farm Monitoring Project</h1>
</div>

<div class="authenticationFrame">
  <mat-tab-group>
    <mat-tab label="Login">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitUserLogin()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Enter Username</label>
            <input type="text" id="username" name="username" class="form-control" formControlName="username"
              [ngClass]="{ error: loginIsInvalid('username') }" />
          </div>
          <div class="form-group">
            <label for="name">Enter Password</label>
            <input type="password" id="password" name="password" class="form-control" formControlName="password"
              [ngClass]="{ error: loginIsInvalid('password') }" />
          </div>
        </div>
        <div class="modal-footer">
          <span *ngIf="loginIsIncomplete() || errorMessage" [class.errorText]="errorMessage">{{ errorMessage || 'You
            must
            complete all fields' }}</span>
          <button *ngIf="!loginIsIncomplete()" mat-raised-button color="primary" type="submit" class="btn btn-primary">
            Log In
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Register">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitUserRegister()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Create Username</label>
            <input type="text" id="username" name="username" class="form-control" formControlName="username"
              [ngClass]="{ error: registerIsInvalid('username') }" />
          </div>
          <div class="form-group">
            <label for="email">Create E-mail Address</label>
            <input type="email" id="email" name="email" class="form-control" formControlName="email"
              [ngClass]="{ error: registerIsInvalid('email') }" (input)="updateEmailValidity()" />
          </div>
          <div class="form-group">
            <label for="name">Input Your DeviceID</label>
            <input type="text" id="deviceID" name="deviceID" class="form-control" formControlName="deviceID"
              [ngClass]="{ error: registerIsInvalid('deviceID') }" />
          </div>
          <div class="form-group">
            <label for="name">Create Password</label>
            <input type="password" id="password" name="password" class="form-control" formControlName="password"
              [ngClass]="{ error: registerIsInvalid('password') }" />
          </div>
        </div>
        <div class="modal-footer">
          <span *ngIf="registerIsIncomplete() || errorMessage" [class.errorText]="errorMessage">{{ errorMessage ||
            'You must complete all fields' }}</span>
          <button *ngIf="!registerIsIncomplete()" mat-raised-button color="primary" type="submit"
            class="btn btn-primary">
            Create Account
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>